# Ignore Testing Notebooks
*.ipynb

# Ignore testing files
app_old.py

#Ignore pdfs
*.pdf

#Ignore zip files
*.zip

#ignore all node files except dependencies
node_modules

# Allow for Build dependencies (PLEASE DON'T REMOVE DUMMY)
!node_modules/.package-lock.json

#Ignore unused directory
National Bank Of Canada Data For ConUHacks VIII

.DS_Store
appDir/.DS_Store

# appDir/__pycache__
__pycache__
