<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Active Trades</title>
    <!-- Include jQuery CDN-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!--Datatables CDN-->
    <link rel="stylesheet" href="https://cdn.datatables.net/2.0.2/css/dataTables.dataTables.css" />
    <script src="https://cdn.datatables.net/2.0.2/js/dataTables.js"></script>

    <!-- Include Websocket support -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.3.1/socket.io.js"></script>
    <!-- Excluding this styling makes the tale fill the entire screen which we may want-->
    <!--Inlclude BUTTON PACKAGES-->
    <!--JAVASCRIPT-->
    <script src="https://cdn.datatables.net/buttons/3.0.1/js/dataTables.buttons.js"></script> <!--Necessary-->
    <script src = "https://cdn.datatables.net/buttons/3.0.1/js/buttons.dataTables.js"></script>
    <script src = "https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/3.0.1/js/buttons.html5.min.js"></script>
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/pdfmake.min.js"></script>-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/vfs_fonts.js"></script>

    
    <!--CSS-->
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/3.0.1/css/buttons.dataTables.css">
    <!--CSS Custom-->
    <link rel="stylesheet" href="./static/styles.css">
    <script src="./static/script.js"></script>
</head>


<body>

    <div class="tab-container">
        <a href="results.html" class="tab">Results</a>
    </div>

    <h1>Active Trades</h1>
    <div id="activetradescontainer">
        <table id="activeTradesTable" class="display">
            <thead>
                <tr>
                    <th>Ticker</th>
                    <th>Status</th>
                    <th>Target Price</th>
                    <th>Exchange</th>
                    <th>Request Time Epoch</th>
                    <!--<th>Filled Price</th>-->
                </tr>
            </thead>
            <tbody>
                <!--To be dynamically updated :: Test Data-->
            </tbody>

        </table>
    </div>
    <!-- This Creates  io -->
    <!-- 
        <script src="http://127.0.0.1:5000/socket.io/socket.io.js"></script> 
    -->
</body>
</html>